@import "frappe.css";

* {
  padding: 0;
  margin: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

/* ------ Set a Uniform Border Radius ------ */
.modules-left,
.modules-center,
.modules-right,
#cpu,
#memory,
#wireplumber,
#temperature,
#backlight,
#custom-spotify,
#custom-icon,
#custom-updates,
#language,
#network,
#battery,
#battery#bat1,
#tray,
#idle_inhibitor,
#custom-power,
#custom-notification {
  border-radius: 18px;
}

/* ------ Modules Left ------ */
.modules-left {
  background-color: @base;
  padding-right: 10px;
  padding-left: 17px;
}

/* ------ Modules Center ------ */
.modules-center {
  background-color: @base;
  padding-right: 4px;
  padding-left: 4px;
}

/* ------ Modules Right ------ */
.modules-right {
  background-color: @base;
  padding-right: 4px;
  padding-left: 4px;
}

/* ------ Window Title ------ */
#window {
  color: @text;
  padding-right: 4px;
}

window#waybar {
  background-color: rgba(30, 30, 46, 1);
  border-bottom: 0px solid #89B4FA;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces button.active {
  color: @surface1;
  font-family: JetBrainsMono Nerd Font;
}

#workspaces {
  margin: 0px 1px 0px 1px;
  padding: 0px 2px;
  font-family: JetBrainsMono Nerd Font;
}

#workspaces button {
  padding: 0px 1.2px;
  margin: 4px 2px;
  color: @yellow;
  font-family: JetBrainsMono Nerd Font;
}

#workspaces button:hover {
  opacity: 0.5;
}


/* ------ Backlight ------ */
#backlight {
  color: @sky;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

/* ------ Wireplumber ------ */
#pulseaudio {
  color: @peach;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
  border-radius: 18px;
}

/*mullvad*/
#custom-vpn{
  color: @green;
  background-color: @surface1;
  padding: 2px 9px;
  margin: 4px 2px;
  border-radius: 18px;
}


/* ------ Language ------ */
#power-profiles-daemon{
  color: @flamingo;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
  border-radius: 18px;
}

/* ------ Network ------ */
#network {
  color: @mauve;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

/* ------ Battery ------ */
#battery {
  color: @maroon;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

/* ------ Clock ------ */

#clock {
  padding-left: 5px;
  color: @text;
  font-weight: bold;
  font-size: 13px;
}

/* Temperature */
#temperature{
  color: @flamingo;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

/* ------ System Tray ------ */
#tray {
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

/* ------ Custom Modules ------ */
#custom-icon {
  font-size: 18px;
  color: @blue;
  padding-right: 5px;
}

#custom-power {
  color: @red;
  background-color: @surface1;
  padding: 2px 9px;
  margin: 4px 2px;
  font-size: 15px;
}

#idle_inhibitor {
  color: @green;
  background-color: @surface1;
  padding: 2px 9px;
  margin: 4px 2px;
  font-size: 15px;
}

tooltip {
  background: @base;
  border: 1px solid @blue;
}
